.root {
    -fx-background-color: #466081;
}

JFXTabPane {
    -fx-background-color: #009688;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}


.tab-header-background {
    -fx-background-color: #245da3;
}

.list-cell:filled:selected {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

JFXButton {
    -fx-background-color: #B2DFDB;
}

Table {
    -fx-background-color: #009688;
}

.table-column {
    -fx-alignment: CENTER;
}