.root {
    -fx-background-color: #466081;
}

JFXTabPane {
    -fx-background-color: #009688;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}


.tab-header-background {
    -fx-background-color: #245da3;
}

.list-cell:filled:selected {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
}

.list-cell{
    -fx-font-family: Monospaced;
}

JFXButton {
    -fx-background-color: #B2DFDB;
}

Table {
    -fx-background-color: #009688;
}

.table-column {
    -fx-alignment: CENTER;
}