.root {
    -fx-background-color: #153761;
}

JFXTabPane {
    -fx-background-color: #009688;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}




.tab-header-background {
    -fx-background-color: #245da3;
}

.list-cell:filled:selected {
    -fx-background-color: #245da3;
    -fx-text-fill: white;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
}

.jfx-snackbar-toast {
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.list-cell{
    -fx-font-family: Monospaced;
}


JFXButton {
    -fx-background-color: #2361B4;
    -fx-text-fill: white;
}


Table {
    -fx-background-color: #009688;
}

.table-column {
    -fx-alignment: CENTER;
}


.button:hover:pressed {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.button:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.animated-option-button {
    -fx-background-color: #419FAE;
    -fx-background-radius: 50px;
    -fx-pref-height: 65px;
    -fx-pref-width: 65px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.animated-option-button .jfx-rippler {
    -jfx-rippler-fill: rgb(113, 118, 114);
}